<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    
    <meta name="description" content="Personal blog of christian writer & fallible mom Katy McKenna Raymond in Kansas City, Missouri. I find these truths to be self-evident. But, then again, I could be wrong." />
    <meta name="keywords" content="fallible, fallible.com, blog, blogger, bloggers, blogs, Katy Mckenna Raymond, Katy McKenna, Katy, stories, women, women's, family, kansas city, missouri, writer, writing, writers, journal, humor, inspiration, inspirational, christian, treasure, earthen vessels" />
    <meta name="blogchalk" content="United States, Missouri, Kansas City, English, French, Katy, Female, 46-50" />
    <meta name="ICBM" content="38.814765, -94.598218" />
    <meta name="DC.title" content="Fallible.com" />

    <link rel="stylesheet" type="text/css" media="all" href="/assets/fallible.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/fallible-modern.css" />
    <link rel="SHORTCUT ICON" href="/img/fallible.ico" />
  </head>

  <body>
    <div class="site-wrapper">
      <header class="site-header">
        <div class="header-top">
          <img src="/images/top.jpg" width="556" height="88" alt="Katy McKenna Raymond" title="Katy McKenna Raymond" />
        </div>
        <div class="header-main">
          <a href="/" title="Personal blog of christian writer & mom Katy McKenna Raymond in Kansas City, Missouri">
            <img src="/images/lady.jpg" width="177" height="120" alt="Personal blog of christian writer Katy McKenna Raymond in Kansas City, Missouri" class="header-lady" />
          </a>
          <a href="/" name="fallible" id="fallible" title="I find these truths to be self-evident. But, then again, I could be wrong." class="header-logo">
            <img src="/images/f.jpg" alt="" width="28" height="120" />
            <img src="/images/fallible.gif" alt="" width="350" height="120" />
          </a>
        </div>
      </header>

      <div class="site-content">
        <aside class="sidebar">
          <div class="sidebar-inner">
            <div class="sidebar-top">
              <h1 class="tagline">Personal blog of christian<br/>writer & fallible mom<br/>Katy McKenna Raymond<br/>in Kansas City, Missouri</h1>
              <img src="/images/fallible/katy1.jpg" alt="Katy McKenna Raymond christian novelist" title="Katy McKenna Raymond" width="132" height="150" class="author-photo" />

              <p class="social-link"><a href="http://twitter.com/KatyMcKenna">Follow Katy on Twitter</a></p>
              <p class="social-link"><a href="http://www.facebook.com/katymckenna">Follow Katy on Facebook</a></p>

              <img src="/images/fallible/katy2.jpg" alt="Katy McKenna Raymond christian novelist" title="Katy McKenna Raymond" width="132" height="150" class="author-photo" />
              <img src="/images/fallible/katy3.jpg" alt="Katy McKenna Raymond christian novelist" title="Katy McKenna Raymond" width="132" height="150" class="author-photo" />
              <img src="/images/fallible/katy4.jpg" alt="Katy McKenna Raymond christian novelist" title="Katy McKenna Raymond" width="132" height="150" class="author-photo" />
              <img src="/images/fallible/katy5.jpg" alt="Katy McKenna Raymond christian novelist" title="Katy McKenna Raymond" width="132" height="150" class="author-photo" />
            </div>
            
            <div id="sidebar">
              <p>E me at katy @ ngenius.com</p>
            </div>
          </div>
        </aside>

        <main class="main-content">
          <div id="blog">
            {{ content | safe }}
          </div>
        </main>
      </div>

      <footer class="site-footer">
        <div id="footer">
          copyright 2011, ngenius media inc.
        </div>
      </footer>
    </div>
  </body>
</html>

