<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | typTitle }}</title>

    <meta name="description" content="Personal blog of christian writer & fallible mom Katy McKenna Raymond in Kansas City, Missouri. I find these truths to be self-evident. But, then again, I could be wrong." />
    {% if pagination and pagination.pageNumber > 0 %}<meta name="robots" content="noindex">{% endif %}

    <meta property="og:site_name" content="Fallible">
    <meta property="og:title" content="{{ title | typTitle }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://fallible.com{{ page.url }}">
    <meta property="og:description" content="{{ content | excerpt }}">
    <meta property="og:image" content="https://fallible.com/assets/katy1.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title | typTitle }}">
    <meta name="twitter:description" content="{{ content | excerpt }}">
    <meta name="twitter:image" content="https://fallible.com/assets/katy1.jpg">

    <link rel="stylesheet" href="/assets/fallible.css">
    <link rel="icon" type="image/jpeg" href="/assets/favicon.jpg">
  </head>

  <body>

    <!-- Desktop layout (original design) -->
    <div class="desktop-layout">
      <table border="0" cellspacing="0" cellpadding="0" width="719" align="center">
        <tr>
          <td valign="top" height="2"><img src="/assets/pix_background.gif" alt="" width="1" height="1" border="0" /></td>
          <td valign="top" height="2"><img src="/assets/pix_background.gif" width="7" height="1" border="0" alt="" /></td>
          <td valign="top" height="2"><img src="/assets/pix_background.gif" width="371" height="1" border="0" alt=""/></td>
          <td valign="top" height="2"><img src="/assets/pix_background.gif" width="8" height="1" border="0" alt="" /></td>
          <td valign="top" height="2"><img src="/assets/pix_background.gif" width="163" height="1" border="0" alt="" /></td>
        </tr>
        <tr>
          <td colspan="4"><img src="/assets/top.jpg" width="556" height="88" hspace="0" vspace="0" border="0" alt="Katy McKenna Raymond" title="Katy McKenna Raymond" /></td>
          <td background="/assets/right_sidebar.jpg" rowspan="6" valign="top">&nbsp;<br/></td>
        </tr>
        <tr>
          <td colspan="4"><a href="/" title="Personal blog of christian writer & mom Katy McKenna Raymond in Kansas City, Missouri"><img src="/assets/lady.jpg" width="177" height="120" hspace="0" vspace="0" border="0" alt="Personal blog of christian writer Katy McKenna Raymond in Kansas City, Missouri" /></a><a href="/" name="fallible" id="fallible" title="I find these truths to be self-evident. But, then again, I could be wrong."><img src="/assets/f.jpg" alt="" width="28" height="120" hspace="0" vspace="0" border="0"/><img src="/assets/fallible.gif" alt="" width="350" height="120" hspace="0" vspace="0" border="0" /></a></td>
        </tr>
        <tr>
          <td valign="top" background="/assets/paper.jpg">
            <img src="/assets/sidebar_top4.jpg" alt="" width="170" height="100" hspace="0" vspace="0" border="0">
            <div align="center">
              <h1 class="tagline">Personal blog of christian<br/>writer & fallible mom<br/>Katy McKenna Raymond<br/>in Kansas City, Missouri</h1>
              <img src="/assets/katy1.jpg" alt="Katy McKenna Raymond" width="132" height="150" hspace="0" vspace="3" border="0"><br/>
              <p style="text-align: center; margin:8px 0;padding:0;"><a href="/archive">All Posts</a></p>
              <img src="/assets/katy2.jpg" alt="Katy McKenna Raymond" width="132" height="150" hspace="0" vspace="3" border="0"><br>
              <img src="/assets/katy3.jpg" alt="Katy McKenna Raymond" width="132" height="150" hspace="0" vspace="3" border="0"><br>
              <img src="/assets/katy4.jpg" alt="Katy McKenna Raymond" width="132" height="150" hspace="0" vspace="3" border="0"><br>
              <img src="/assets/katy5.jpg" alt="Katy McKenna Raymond" width="132" height="150" hspace="0" vspace="3" border="0"><br>
            </div>
            <div id="sidebar">
              <p><a href="mailto:kckatyrose@gmail.com">kckatyrose@gmail.com</a></p>
            </div>
          </td>
          <td background="/assets/sidebar_shadow.gif" valign="top"></td>
          <td bgcolor="#ffffff" valign="top">
            <div id="blog">
              {{ content | safe }}
            </div>
          </td>
          <td background="/assets/paper_shadow.gif"></td>
        </tr>
        <tr>
          <td background="/assets/paper.jpg"></td>
          <td background="/assets/sidebar_shadow.gif"></td>
          <td bgcolor="#ffffff" colspan="2" align="right" valign="bottom"><img src="/assets/paper_corner.gif" width="42" height="35" hspace="0" vspace="0" border="0"></td>
        </tr>
        <tr>
          <td background="/assets/paper_bottom_shadow.gif" colspan="4" align="right"><img src="/assets/paper_corner_shadow.gif" width="42" height="5" border="0"></td>
        </tr>
        <tr>
          <td colspan="4" valign="top">
            <div id="footer">
              Copyright Katy McKenna Raymond<br/><br/>
            </div>
          </td>
        </tr>
      </table>
      <br><br>
    </div>

    <!-- Mobile layout -->
    <div class="mobile-layout">
      <div class="mobile-header">
        <a href="/"><img src="/assets/fallible.gif" alt="Fallible" width="350" height="120"></a>
      </div>
      <div class="mobile-content">
        {{ content | safe }}
      </div>
      <div class="mobile-footer">
        <a href="/">Home</a> &middot; <a href="/archive">All Posts</a><br>
        Copyright Katy McKenna Raymond
      </div>
    </div>

    <!-- Print layout -->
    <div class="print-layout">
      <div class="print-header">
        <img src="/assets/fallible.gif" alt="Fallible" width="350" height="120">
      </div>
      {{ content | safe }}
      <div style="margin-top: 2em; padding-top: 0.5em; border-top: 1px solid #ccc; font-size: 10pt; color: #555;">
        Copyright Katy McKenna Raymond
      </div>
    </div>

  </body>
</html>
