---
layout: base.njk
---

<article>
  <h2 class="title">{{ title | typTitle }}</h2>
  <p class="post-date"><em>{{date | postDate}}</em></p>
  {{ content | safe }}
</article>

{% if comments and comments.length > 0 %}
<section class="comments">
  <h3>Comments</h3>
  {% for comment in comments %}
  <div class="comment">
    <p class="comment-text">{{ comment.text | safe }}</p>
    <p><em>&mdash;{{ comment.author}}, {{ comment.date | postDate }}</em></p>
  </div>
  {% endfor %}
</section>
{% endif %}

{% set older = collections.mainPosts | olderPost(page.url) %}
<nav class="post-nav">
  <span>{% if older %}Previous: <a href="{{ older.url }}">{{ older.data.title | typTitle }}</a>{% endif %}</span>
  <a href="/archive">All Posts</a>
</nav>
