---
layout: base2.njk
---

<article>
  <h2 class="title">{{ title }}</h2>
  {{ content | safe }}
  <p><em>Posted {{date | postDate}}</em></p>
</article>

{% if comments and comments.length > 0 %}
<section class="comments" style="margin-top: 4em">
  <h3>Comments</h3>
  {% for comment in comments %}
  <div class="comment" style="margin-bottom: 2em">
    <p class="comment-text">{{ comment.text | safe }}</p>
    <p><em>&mdash;{{ comment.author}}, {{ comment.date | postDate }}</em></p>
  </div>
  {% endfor %}
</section>
{% endif %}

