td,table,body {
	font-family : trebuchet ms, arial, helvetica, sans-serif;
	font-size : 11px;
	color : #000;
}
tr.toprow {
	padding-top : 6px;
}

#sidebar {
	font-family : trebuchet ms, arial, helvetica, sans-serif;
	font-size : 11px;
	margin : 0 12px 15px 15px;
	padding : 0;
	line-height: 1.3em;
}

#sidebar select {
	font-weight: normal;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 10px;
	color: #666;
	width: 135px;
}

#sidebar input.search {
	font-weight: normal;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 10px;
	color: #666;
	width: 90px;
}

#sidebar input.go {
	font-weight: normal;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 10px;
	color: #666;
	width: 40px;
	font-weight: bold;

}

.archiveLabel {
	font-weight: bold;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 9px;
	color: #666;
}

#sidebar h1 { 
	margin: 0; padding: 0;
	font-weight : bold; 
	font-size : 13px;
}

#sidebar h2 {
	margin: 10px 0 0 0;
	padding: 0;
	letter-spacing: 0.11em;
	font-weight: bold;
	font-size : 11px;
}

#sidebar p {
	margin: 0 0 8px 0;
	padding: 0;
	color: #666;
}

#sidebar #archives {
	margin: 0 0 0 6px; 
	padding: 0;
	line-height: 1.3em;
	font-size : 10px;
}

#sidebar td {
	font-family : trebuchet ms, arial, helvetica, sans-serif;
	font-size : 11px;
	color : #666;
}

#sidebar td.right {
	text-align : right;
}

#sidebar #hishers {
	line-height: 1.2em;
	font-size : 10px;
}

#sidebar ul {
	margin: 2px 0 0 20px;
	padding: 0;
}

#sidebar li {
	list-style-type: square;
}

#sidebar a:link { text-decoration: none;
		font-weight : normal; 
		color : #900; }

#sidebar a:visited { text-decoration: none;
		font-weight : normal; 
		color : #900; }

#sidebar a:active { text-decoration: none;
		font-weight : normal; 
		color : #000; }

#sidebar a:hover { text-decoration: underline;
		font-weight : bold; 
		color : #000; }
		
#blog {
	font-family : trebuchet ms, arial, helvetica, sans-serif;
	font-size : 8pt;
	color : #000000;
	margin : 0;
	padding : 0 15px 20px 12px;
}	

#blog h2 {
	font-size : 12px;
	color : #000;
}	

#blog h3 {
	font-size : 10pt;
	color : #666666;
	font-weight : normal; 
	text-align : left;
}	

#blog p.posted {
	text-align: right;
	font-size : .95em;
}

#blog ol {
	padding-left: 25px;
}

#blog ul.archive li {
	padding: 0;
	margin: 0;
	line-height: 1em;
}
#blog ul.archive {
	margin: 0;
}
#blog div.posted {
	margin: 8px 0 20px 30px;
}

#footer {
	font-family : trebuchet ms, arial, helvetica, sans-serif;
	font-size : 8pt;
	color : #000000;
	padding : 3px 0 0 0;
	text-align : center;
}
a.link {
	font-size: .9em;
	font-weight: normal;
}
a:link { text-decoration: none;
		font-weight : bold; 
		color : #900; }

a:visited { text-decoration: none;
		font-weight : bold; 
		color : #900; }

a:active { text-decoration: none;
		font-weight : bold; 
		color : #000; }

a:hover { text-decoration: underline;
		font-weight : bold; 
		color : #000; }

#rightsidebar {
	font-family : trebuchet ms, arial, helvetica, sans-serif;
	font-size : 11px;
	color : #000;
	margin : 0px;
	padding : 5px;
	background: #A2A0BA;
	height: 238px;
	line-height: 1.2em;
}

#rightsidebar p {
	margin-top: 8px;
	margin-bottom: 8px;
}

td.toprow {
	padding-top : 6px;
}

input.commentbutton {
	width: 100px;
}

#powered {
	margin-top: 50px;
}
.small {
	font-size: 7pt;
}
