---
layout: base2.njk
title: Fallible Archive
---

<h2>All Fallible Posts</h2>

{% set currentYear = "" %}
{% for post in collections.posts %}
        {% set postYear = post.date.getFullYear() %}
        {% if currentYear != postYear %}
            {% set currentYear = postYear %}
            <h3 style="margin-top: 2em">{{ postYear }}</h3>
        {% endif %}

  <article style="margin-bottom: 1em">
    <h2 class="title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  </article>
{% endfor %}
