---
layout: base.njk
title: Fallible
pagination:
  data: collections.posts
  size: 10
---

{% for post in pagination.items %}
  <article style="margin-bottom: 4em">
    <h2 class="title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    {{ post.content | safe }}
    <p><em>Posted {{post.data.date | postDate}}</em> &mdash; <a href="{{ post.url }}">Permalink</a></p>
  </article>
{% endfor %}


{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">&larr; Newer</a> &nbsp; {% endif %}
<a href="/archive">All Posts</a>
{% if pagination.href.next %} &nbsp; <a href="{{ pagination.href.next }}">Older &rarr;</a>{% endif %}